<?xml version="1.0"?>
<launch>

	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
	</include>

	<!-- Our node to control the drone -->
	<!--<node pkg="offboard" type="setpoint_test.py" name="setpoint_test" required="true" output="screen" /> -->
	<node pkg="offboard" type="offb_node.py" name="offb_node" required="true" output="screen" />

</launch>
